.home-container {
  width: 100%;
  height: auto;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.home-container1 {
  width: 1079px;
  display: flex;
  margin-top: 60px;
  align-items: center;
  margin-left: 60px;
  margin-right: 60px;
  border-radius: 60px;
  margin-bottom: 0px;
  flex-direction: column;
  justify-content: center;
  background-color: #ffffff;
}
.home-hero {
  width: 100%;
  margin: 0px;
  display: flex;
  max-width: var(--dl-size-size-maxcontent);
  align-items: center;
  padding-top: var(--dl-space-space-tripleunit);
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  padding-left: var(--dl-space-space-tripleunit);
  padding-right: var(--dl-space-space-fiveunits);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-tripleunit);
  justify-content: space-between;
  background-color: #ffffff;
}
.home-image {
  width: 40%;
  box-shadow: 5px 5px 40px 0px #7a7a7a;
  object-fit: cover;
  transition: 0.3s;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
}
.home-image:hover {
  width: 50%;
}
.home-hero-text-container {
  width: 484px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-heading {
  color: rgb(4, 4, 4);
  width: 424px;
  height: 74px;
  font-size: 65px;
  transition: 0.3s;
  font-family: "Overpass";
  font-weight: 900;
  line-height: 1.22;
  margin-bottom: 0px;
  text-transform: none;
  text-decoration: none;
}
.home-heading:hover {
  height: 182px;
  font-size: 90px;
}
.home-features {
  width: 1075px;
  height: 478px;
  display: flex;
  max-width: var(--dl-size-size-maxcontent);
  margin-top: 60px;
  align-items: center;
  margin-left: 60px;
  padding-top: var(--dl-space-space-fiveunits);
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  margin-right: 60px;
  padding-left: var(--dl-space-space-tripleunit);
  margin-bottom: 0px;
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fiveunits);
}
.home-cards-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.home-card {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-doubleunit);
  padding-left: var(--dl-space-space-doubleunit);
  margin-bottom: 0px;
  padding-right: var(--dl-space-space-doubleunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-doubleunit);
}
.home-content-container {
  width: 993px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.home-heading1 {
  font-size: 30px;
  align-self: flex-start;
  font-style: normal;
  font-family: Overpass;
  font-weight: 700;
  line-height: 1.55;
  margin-bottom: var(--dl-space-space-tripleunit);
  text-transform: none;
  text-decoration: none;
}
.home-text {
  text-align: justify;
}
.home-subscribe {
  width: 1072px;
  height: 145px;
  display: flex;
  margin-top: 60px;
  align-items: center;
  margin-left: 60px;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  margin-right: 60px;
  margin-bottom: 0px;
  flex-direction: row;
  justify-content: flex-start;
}
.home-navlink {
  width: 100%;
  margin: var(--dl-space-space-doubleunit);
  text-align: center;
  transition: 0.3s;
  border-radius: 1px;
  text-decoration: none;
}
.home-navlink:hover {
  color: #ffffff;
  background-color: #000000;
}
.home-navlink1 {
  width: 100%;
  margin: var(--dl-space-space-doubleunit);
  text-align: center;
  transition: 0.3s;
  border-radius: 1px;
  text-decoration: none;
}
.home-navlink1:hover {
  color: #ffffff;
  background-color: #000000;
}
.home-text09 {
  text-align: center;
}
.home-navlink2 {
  width: 100%;
  margin: var(--dl-space-space-doubleunit);
  text-align: center;
  transition: 0.3s;
  border-radius: 1px;
  text-decoration: none;
}
.home-navlink2:hover {
  color: #ffffff;
  background-color: #000000;
}
.home-link {
  width: 100%;
  margin: var(--dl-space-space-doubleunit);
  text-align: center;
  transition: 0.3s;
  border-radius: 1px;
  text-decoration: none;
}
.home-link:hover {
  color: #ffffff;
  background-color: #000000;
}
.home-footer {
  width: 1078px;
  margin: 60px;
  display: flex;
  max-width: var(--dl-size-size-maxcontent);
  align-self: center;
  align-items: center;
  padding-top: var(--dl-space-space-tripleunit);
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  padding-left: var(--dl-space-space-tripleunit);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-tripleunit);
  justify-content: space-between;
}
.home-social-links {
  display: flex;
  flex-direction: row;
}
.home-link1 {
  display: contents;
}
.home-icon {
  width: 24px;
  height: 24px;
  margin-right: var(--dl-space-space-doubleunit);
  text-decoration: none;
}
.home-link2 {
  display: contents;
}
.home-icon2 {
  width: 24px;
  height: 24px;
  margin-right: var(--dl-space-space-doubleunit);
  text-decoration: none;
}
.home-link3 {
  display: contents;
}
.home-icon4 {
  width: 24px;
  height: 24px;
  text-decoration: none;
}
@media(max-width: 991px) {
  .home-container1 {
    width: 911px;
    margin: var(--dl-space-space-fiveunits);
    border-color: #ffffff;
    border-width: 1px;
    border-radius: 1px;
    background-color: #ffffff;
  }
  .home-hero {
    width: 100%;
    height: 547px;
    padding: var(--dl-space-space-fiveunits);
    align-items: center;
    border-color: var(--dl-color-gray-black);
    border-width: 1px;
    flex-direction: column;
    justify-content: center;
    background-color: #ffffff;
  }
  .home-image {
    width: 713px;
    height: 371px;
    box-shadow: 5px 5px 40px 0px #888888;
    border-color: var(--dl-color-gray-black);
    border-width: 1px;
    margin-bottom: var(--dl-space-space-tripleunit);
  }
  .home-hero-text-container {
    width: 80%;
    align-items: center;
    margin-bottom: 0px;
  }
  .home-heading {
    width: 369px;
    height: 72px;
    font-size: 57px;
    margin-bottom: 0px;
  }
  .home-features {
    width: 905px;
    height: 536px;
    padding: var(--dl-space-space-fiveunits);
    margin-top: 0px;
    margin-left: var(--dl-space-space-fiveunits);
    border-color: var(--dl-color-gray-black);
    border-width: 1px;
    margin-right: var(--dl-space-space-fiveunits);
    margin-bottom: var(--dl-space-space-fiveunits);
  }
  .home-cards-container {
    margin: var(--dl-space-space-tripleunit);
  }
  .home-card {
    width: 874px;
    padding: 0px;
    margin-bottom: 0px;
  }
  .home-content-container {
    width: 100%;
  }
  .home-heading1 {
    align-self: flex-start;
  }
  .home-text {
    text-align: justify;
  }
  .home-subscribe {
    width: 909px;
    padding: var(--dl-space-space-tripleunit);
    margin-top: 0px;
    margin-left: var(--dl-space-space-fiveunits);
    margin-right: var(--dl-space-space-fiveunits);
    margin-bottom: var(--dl-space-space-fiveunits);
  }
  .home-navlink {
    width: 791px;
    margin: var(--dl-space-space-doubleunit);
    border-radius: 1px;
  }
  .home-navlink1 {
    width: 789px;
    margin: var(--dl-space-space-doubleunit);
    border-radius: 1px;
  }
  .home-navlink2 {
    width: 790px;
    margin: var(--dl-space-space-doubleunit);
    border-radius: 1px;
  }
  .home-link {
    width: 791px;
    margin: var(--dl-space-space-doubleunit);
    border-radius: 1px;
  }
  .home-footer {
    width: 914px;
    margin-top: 0px;
    margin-left: var(--dl-space-space-fiveunits);
    border-color: var(--dl-color-gray-black);
    border-width: 1px;
    margin-right: var(--dl-space-space-fiveunits);
    margin-bottom: var(--dl-space-space-fiveunits);
  }
  .home-icon {
    margin-right: var(--dl-space-space-doubleunit);
  }
  .home-icon2 {
    margin-right: var(--dl-space-space-doubleunit);
  }
}
@media(max-width: 767px) {
  .home-container {
    background-color: #ffffff;
  }
  .home-container1 {
    width: 720px;
    height: 664px;
    margin: var(--dl-space-space-tripleunit);
    border-color: var(--dl-color-gray-black);
    border-width: 1px;
    border-radius: 1px;
    background-color: #ffffff;
  }
  .home-hero {
    width: auto;
    height: 659px;
    padding: var(--dl-space-space-fiveunits);
    border-color: #ffffff;
    background-color: #ffffff;
  }
  .home-image {
    width: 576px;
    height: 471px;
    box-shadow: 5px 5px 40px 0px #676767;
    border-color: var(--dl-color-gray-black);
    border-width: 1px;
    margin-bottom: var(--dl-space-space-fourunits);
    padding-bottom: 0px;
  }
  .home-hero-text-container {
    margin-bottom: 0px;
  }
  .home-heading {
    width: 425px;
    height: 75px;
    font-size: 59px;
    font-style: normal;
    font-family: Poppins;
    font-weight: 700;
    margin-bottom: 0px;
  }
  .home-features {
    width: 713px;
    height: auto;
    margin: var(--dl-space-space-tripleunit);
    padding: 0px;
    border-color: var(--dl-color-gray-black);
    border-width: 1px;
  }
  .home-cards-container {
    width: 664px;
    height: 551px;
    align-items: center;
    flex-direction: column;
  }
  .home-card {
    width: 100%;
    height: 548px;
    padding: 0px;
    border-color: #ffffff;
    border-width: 1px;
    margin-bottom: 0px;
  }
  .home-content-container {
    height: 375px;
    margin: var(--dl-space-space-tripleunit);
  }
  .home-heading1 {
    align-self: flex-start;
    text-align: center;
    font-family: Roboto;
  }
  .home-text {
    text-align: justify;
    font-family: Roboto;
  }
  .home-subscribe {
    width: 716px;
    height: 351px;
    margin: var(--dl-space-space-tripleunit);
    padding: var(--dl-space-space-tripleunit);
    flex-direction: column;
  }
  .home-navlink {
    width: 100%;
    margin: var(--dl-space-space-doubleunit);
    border-radius: 1px;
  }
  .home-navlink1 {
    width: 100%;
    margin: var(--dl-space-space-doubleunit);
    border-radius: 1px;
  }
  .home-navlink2 {
    width: 100%;
    margin: var(--dl-space-space-doubleunit);
    border-radius: 1px;
  }
  .home-link {
    width: 100%;
    margin: var(--dl-space-space-doubleunit);
    border-radius: 1px;
  }
  .home-footer {
    width: 719px;
    height: 57px;
    margin: var(--dl-space-space-tripleunit);
    border-color: var(--dl-color-gray-black);
    border-width: 1px;
    background-color: #ffffff;
  }
  .home-icon {
    margin-right: var(--dl-space-space-doubleunit);
  }
  .home-icon2 {
    margin-right: var(--dl-space-space-doubleunit);
  }
}
@media(max-width: 483px) {
  .home-container {
    border-color: #000000;
    border-width: 1px;
    background-color: #ffffff;
  }
  .home-container1 {
    width: 428px;
    height: 542px;
    padding: var(--dl-space-space-tripleunit);
    margin-top: var(--dl-space-space-fourunits);
    margin-left: var(--dl-space-space-tripleunit);
    border-color: var(--dl-color-gray-black);
    border-width: 1px;
    margin-right: var(--dl-space-space-tripleunit);
    border-radius: 1px;
    margin-bottom: var(--dl-space-space-fourunits);
    background-color: #ffffff;
  }
  .home-hero {
    width: 389px;
    height: auto;
    margin: var(--dl-space-space-unit);
    background-color: #ffffff;
  }
  .home-image {
    width: 333px;
    height: 333px;
    opacity: 0.98;
    box-shadow: 5px 5px 40px 0px #787878;
    border-color: var(--dl-color-gray-black);
    border-width: 1px;
    border-radius: 1px;
    margin-bottom: var(--dl-space-space-fiveunits);
  }
  .home-hero-text-container {
    width: 100%;
    margin-bottom: 0px;
  }
  .home-heading {
    font-size: 50px;
    font-style: normal;
    text-align: center;
    font-family: Poppins;
    font-weight: 700;
    margin-bottom: 0px;
  }
  .home-features {
    width: 478px;
    height: auto;
    margin: 0px;
    padding: 0px;
    border-color: #ffffff;
  }
  .home-cards-container {
    width: 426px;
    height: 703px;
    padding: var(--dl-space-space-tripleunit);
    border-color: #000000;
    border-width: 1px;
  }
  .home-card {
    width: 100%;
    height: 100%;
    border-color: #ffffff;
    border-width: 1px;
    border-radius: 1px;
    margin-bottom: 0px;
  }
  .home-content-container {
    height: 597px;
    margin: var(--dl-space-space-doubleunit);
  }
  .home-heading1 {
    align-self: flex-start;
    text-align: justify;
    font-family: Roboto;
  }
  .home-text {
    font-size: 14px;
    text-align: justify;
    font-family: Roboto;
  }
  .home-subscribe {
    width: 428px;
    height: 352px;
  }
  .home-navlink {
    width: 100%;
    margin: var(--dl-space-space-doubleunit);
    border-radius: 1px;
    text-decoration: none;
  }
  .home-navlink1 {
    width: 100%;
    margin: var(--dl-space-space-doubleunit);
    border-radius: 1px;
  }
  .home-text10 {
    width: 394px;
    margin: var(--dl-space-space-doubleunit);
    border-radius: 1px;
  }
  .home-navlink2 {
    width: 100%;
    margin: var(--dl-space-space-doubleunit);
    border-radius: 1px;
  }
  .home-link {
    width: 100%;
    margin: var(--dl-space-space-doubleunit);
    border-radius: 1px;
  }
  .home-footer {
    width: 429px;
    height: 8px;
    margin: var(--dl-space-space-tripleunit);
    border-color: var(--dl-color-gray-black);
    border-width: 1px;
    background-color: #ffffff;
  }
  .home-social-links {
    align-self: center;
  }
  .home-icon {
    width: 20px;
    height: 20px;
    align-self: center;
    margin-right: var(--dl-space-space-doubleunit);
  }
  .home-icon2 {
    width: 20px;
    height: 20px;
    align-self: center;
    margin-right: var(--dl-space-space-doubleunit);
  }
  .home-icon4 {
    width: 20px;
    height: 20px;
    align-self: center;
    margin-left: 0px;
    margin-right: 0px;
  }
}
